{% extends "base.html" %}

{% block title %}Puppet reports{% endblock %}


{% block content %}

<center>
<table >
<tr><td colspan=2 align=center><font size=+2>Viewing {{ yamlfile }} on host {{ hostname }}</font></td></tr>
<tr><td>&nbsp;</td></tr>
<tr>
	<td><b>Report Time:</b></td><td>{{ report.datetime }}</td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
	<td colspan=3 align="center"><b><font size=+1>Performance Metrics</font></b></td>
</tr>
<tr>
	<td colspan=2>
	<table><tr valign="top">
	<td>
		<table>
		<tr>
			<td><b>&nbsp;Time</b></td>
		</tr>
		<tr>
			<td align="right">&nbsp;&nbsp;Config retrieval:</td>
			<td>&nbsp;&nbsp;{{ report.configretrieval }}</td>
		</tr>
		<tr>
			<td align="right">&nbsp;&nbsp;Run time:</td>
			<td>&nbsp;&nbsp;{{ report.runtime }}</td>
		</tr>
		
		</table>
	</td>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><b>&nbsp;Resources</b></td>
		</tr>
		<tr>
			<td align="right">&nbsp;&nbsp;Failed restarts:</td>
			<td>&nbsp;&nbsp;{{ report.failed_restarts }}</td>
		</tr>
		<tr>
			<td align="right">&nbsp;&nbsp;Failed:</td>
			<td>&nbsp;&nbsp;{{ report.failed }}</td>
		</tr>
		<tr>
			<td align="right">&nbsp;&nbsp;Out of sync:</td>
			<td>&nbsp;&nbsp;{{ report.out_of_sync }}</td>
		</tr>
		<tr>
			<td align="right">&nbsp;&nbsp;Restarted:</td>
			<td>&nbsp;&nbsp;{{ report.restarted }}</td>
		</tr>
		<tr>
			<td align="right">&nbsp;&nbsp;Total:</td>
			<td>&nbsp;&nbsp;{{ report.count_resources }}</td>
		</tr>					
		</table>
	</td>
	<td>&nbsp;</td>
	<td>
		<table>
		<tr>
			<td><b>&nbsp;Changes</b></td>
		</tr>		
		<tr>
			<td align="right">&nbsp;&nbsp;Total:</td>
			<td>&nbsp;&nbsp;{{ report.count_changes }}</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
</td></tr>
</table>
{% if logcount %}
<table>
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td colspan=2><b><font size=+1>Change Logs</font></b></td>
</tr>
<tr>
	<td><b>Level</b></td>
	<td colspan=6><b>Message</b></td>
</tr>
{% for log in logs %}
	<tr class="{% cycle 'row1' 'row2' %}"><td>{{ log.level }}</td><td colspan=6>{{ log.message }}</td></tr>
	<tr class="{% cycle 'row1' 'row2' %}"><td></td><td colspan=6>&nbsp;&nbsp;{{ log.source }}</td></tr>
{% endfor %}
</table>
{% endif %}
</center>


{% endblock %}
