{% extends "base.html" %}

{% block title %}Puppet reports{% endblock %}


{% block content %}

<center>
<table>
<tr><td colspan=3 align=center><font size=+2>Log view for {{ hostname }}</font></td></tr>
<tr><td>&nbsp;</td></tr>
<tr valign="top"><td>
<table>
	<thead>
		<tr>
			<th><center><b>Time</b></center></th>
			<th><center><b>Run Time (seg)</b></center></th>
			<th><center><b>Changes</b>&nbsp;<img src="/media/magnifier.png" id="filter" valign="middle" title="Show only runs with changes"></th></center>
			<th><center><b>Resources</b></center></th>
			<th><center><b>Out of Syncs</b></center></th>
		</tr>
	</thead>
	{% for report in reports %}
	<tr class="{% cycle 'row1' 'row2' %}">
        	<td><center>{{ report.formatted_datetime }}</center></td>
        	<td><center>{{ report.runtime }}</center></td>
        	<td><center>{{ report.count_changes }}</center></td>
        	<td><center>{{ report.count_resources }}</center></td>
        	<td><center>{{ report.out_of_sync }}</center></td>
        	<td><center>
                <a href="viewreport.php?host={{ hostname|escape}}&report={$reports[r].filename}"><img src="/media/book_open.png" title="View Host" border=0></a>
        	</center></td>
	</tr>
	{% endfor %}
</table>
</td>
<td>&nbsp;</td>
<td valign="top">
	<table>
		<thead><tr><td><center><b>Daily Graphs</b></center></td></tr></thead> 
		<tr><td><a href="/media{{ rrdroot }}/{{ hostname }}/changes.html"><img src="/media{{ rrdroot }}/{{ hostname }}/changes-daily.png" border=0></a></td></tr>
		<tr><td><a href="/media{{ rrdroot }}/{{ hostname }}/resources.html"><img src="/media{{ rrdroot }}/{{ hostname }}/resources-daily.png" border=0></a></td></tr>
		<tr><td><a href="/media{{ rrdroot }}/{{ hostname }}/time.html"><img src="/media{{ rrdroot }}/{{ hostname }}/time-daily.png" border=0></a></td></tr>
	</table>
</td></tr>
</table>
</center>


{% endblock %}
